.navbar-brand h1 {
    display: inline;
    margin-left: 10px;
    font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
}

.navbar-brand {
    position: relative;
    z-index: 1;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
}
 
.logo-link img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}